@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    margin: 0;
    background-color: #191825;
}

.App {
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Neucha', cursive;
}

.heading {
    font-weight: 900;
    font-size: 4rem;
    margin: 30px 0;
    color: whitesmoke;
    z-index: 1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 800px) {
    .heading {
        margin: 15px 0;
        font-size: 35px;
    }
}